<div class="jumbotron">
    <div><img src="~/pic/my-passport-photo.jpg" class="img-circle" style="height:250px; width:250px;"></div>
    <h1>Biplob Roy</h1>
</div>
@{
    ViewBag.Title = "Personal";
}

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>Personal Details:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 25px;">
        <b>Name:</b> Biplob Roy<br />
        <b>Father's Name:</b> Brozendro Kumar Roy<br />
        <b>Mother's Name:</b> Archana Roy<br />
        <b>Gender:</b> Male<br />
        <b>Hight:</b> 5 Feet 2" <br />
        <b>Marital Status:</b> Unmaried<br />
        <b>Religion:</b> Hindu<br />
        <b>Nationality:</b> Bangladeshi
        <b>Permanent Address:</b>Charkhali, Khasial(7514), Naragati, Kalia, Narail.
    </p>
</div>